	<%= hidden_field_tag :direction, params[:direction] %>
	<%= hidden_field_tag :sort, params[:sort] %>

	<% @invitations.each do |inv| %>
		<div class="row">
			<div class="span2" >
				<div class="right" >
					<div style="width: 100%; height: 25px;"></div>
					<% if inv.email.blank? || inv.save_the_date_sent == false %>
						<table class="red_letters">
					<% else %>
						<table>
					<% end %>
						<tr/>
							<td><%= "#{inv.save_the_date_sent}" %></td>
							<td> | </td>
							<td><%= link_to 'show', inv %></td>
							<%# if inv.admin_id == current_admin.id %>
							<% if true %>
								<td> | </td>
    						<td><%= link_to 'edit', edit_invitation_path(inv) %></td>
								<td> | </td>
    						<td>
									<%= link_to 'destroy', inv, confirm: 'are you sure?', method: :delete %>
								</td>
							<% end %>
						</tr>
					</table>
				</div>
  		</div>

			<div class="span2">
   			<%= sortable( "first_names", "First names") %>
   			<%= text_field_tag :first_names, inv.first_names, :readonly => true %>
  		</div>
			<div class="span2">
    		<%= sortable("last_name", "Last name") %>
    		<%= text_field_tag :last_name, inv.last_name, :readonly => true %>
			</div>
			<div class="span2">
   			<%= label_tag :invite_code %>
   			<%= text_field_tag :invite_code, inv.invite_code, :readonly => true %>
  		</div>
			<div class="span2">
				<table>
					<tr>
						<td>&nbsp;</td>
   					<td><%= sortable("spots", "Spots") %></td>
						<td>&nbsp;</td>
						<td><%= sortable("rsvp_number", "Rsvp") %></td>
						<td>&nbsp;</td>
						<td><%= sortable("admin_id", "Owner") %></td>
					</tr>
					<tr>
						<td>&nbsp;</td>
   					<td><%= number_field_tag :spots, inv.spots, :readonly => true %></td>
						<td>&nbsp;</td>
   					<td><%= number_field_tag :rsvp_number, inv.rsvp_number, :readonly => true %></td>
						<td>&nbsp;</td>
						<td><%= text_field_tag :admin, inv.admin.email.split('@')[0], :readonly => true %></td>
					</tr>
				</table>
  		</div>
		</div>
	<% end %>

	<div class="row">
		<div class="span12">
			<div class="center2 kill">
				<%= will_paginate @invitations %>
			</div>
		</div>
	</div>

