<div class="row">
	<div class="span12">
		<header class="gen_title"> 	
			<h2 class="center-align">dashboard</h2>
			<p class="notice"><%= notice %></p>
		</header>
	</div>
</div>

<div class="row">
	<div class="span12">
		<div class="center2">
			<span><b> number invited :</b> <%= @reports['spots'] %></span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
			<span><b> number rsvped :</b> <%= @reports['rsvp'] %></span>
		</div>
	</div>
</div>

<div class="row">
	<div class="span12">
		<br/><br/>
		<fieldset class="gen_title"> 	
			<legend>owners</h2>
		</fieldset>
	</div>
</div>

<div class="row">
	<% @reports['owner_hash'].each do |email, count| %>
		<div class="span3">
			<span><%= "#{email} : #{count}" %></span>
		</div>
	<% end %>
</div>

<div id="list">
	<div class="row">
		<div class="span12">
			<br/><br/>
			<fieldset class="gen_title"> 	
				<legend>add new</h2>
			</fieldset>
		</div>
	</div>

	<%= form_for @new_invitation do |f| %>
		<div class="row">
			<div class="span2" >
				<div class="right" >
					<div style="width: 100%; height: 25px;"></div>
					<table><tr/>
					</tr></table>
				</div>
  		</div>

			<div class="span2">
   			<%= f.label :first_names %>
   			<%= f.text_field :first_names %>
  		</div>
			<div class="span2">
    		<%= f.label :last_name %>
    		<%= f.text_field :last_name %>
			</div>
			<div class="span2">
   			<%= f.label :invite_code %>
   			<%= f.text_field :invite_code, :readonly => true %>
  		</div>
			<div class="span2">
				<table>
					<tr>
						<td>&nbsp;</td>
   					<td><%= f.label :spots %></td>
						<td>&nbsp;</td>
						<td><%= f.label :rsvp_number, 'Rsvp' %></td>
						<td>&nbsp;</td>
						<td></td>
					</tr>
					<tr>
						<td>&nbsp;</td>
   					<td><%= f.number_field :spots %></td>
						<td>&nbsp;</td>
   					<td><%= f.number_field :rsvp_number, :readonly => true %></td>
						<td>&nbsp;</td>
						<td style="vertical-align: middle;">
							<%= f.submit 'Submit' %></td>
						</td>
					</tr>
				</table>
  		</div>
		</div>
	<% end %>

	<div class="row">
		<div class="span12">
			<br/><br/>
			<fieldset class="gen_title"> 	
				<legend>current roster</h2>
			</fieldset>
		</div>
	</div>

	<%= form_tag admin_index_path, :method => 'get', :id => "invitations_search" do %>
		<div class="row">
			<div class="span3 offset7">
				<div class="right">
					<br/>
					<%= text_field_tag :search, params[:search] %>
					<%= submit_tag "Search", :last_name => nil %>	
					&nbsp;
				</div>
			</div>
		</div>
		<div id="invitations">
			<%= render 'admin_list' %>
		</div>
	<% end %>

			
</div> <!-- end of list -->
