<div class="row">
	<div class="span12">
		<header class="gen_title"> 	
			<h2 class="center-align">show invitation</h2>
			<p class="notice"><%= notice %></p>
		</header>
	</div>
</div>
<div class="show">
<%= form_for(@invitation) do |f| %>
	<div class="row">
		<div class="span2">&nbsp;</div>
		<div class="span8">
				<% if @invitation.errors.any? %>
    			<div id="error_explanation">
						<h2>please fix the following:</h2>
      			<ul>
      				<% @invitation.errors.full_messages.each do |msg| %>
        				<li><%= msg %></li>
      				<% end %>
      			</ul>
    			</div>
  			<% end %>
		</div>
	</div>

<div class="row">
	<div class="span4">
  	<div class="right">
			<div class="center2">
    		<%= f.label :first_names %>
    		<%= f.text_field :first_names, :readonly => true %>
			</div>
  	</div>
	</div>

	<div class="span4">
  	<div class="center2">
    	<%= f.label :last_name %>
    	<%= f.text_field :last_name, :readonly => true %>
  	</div>
	</div>

	<div class="span4">
		<div class="left">
			<div class="center2">
    		<%= f.label :invite_code %>
    		<%= f.text_field :invite_code, :readonly => true %>
			</div>
  	</div>
	</div>
</div> <!-- end row one -->

<%= f.fields_for :address do |a| %>
	<div class="row">
		<div class="span4">
			<div class="right">
				<div class="center2">
    			<%= a.label :street %>
    			<%= a.text_field :street , :readonly => true %>
  			</div>
			</div>
		</div>

		<div class="span4">
  		<div class="center2">
    		<%= a.label :city %>
    		<%= a.text_field :city , :readonly => true %>
  		</div>
		</div>

		<div class="span4">
  		<div class="left">
				<div class="center2">
					<%= a.label :state %>
    			<%= a.text_field :state , :readonly => true %>
  			</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="span4">
			<div class="right">
				<div class="center2">
					<%= a.label :zip %>
    			<%= a.text_field :zip , :readonly => true %>
  			</div>
			</div>
		</div>

		<div class="span4">
  		<div class="center2">
				<%= a.label :cell %>
    		<%= a.telephone_field :cell , :readonly => true %>
  		</div>
		</div>

		<div class="span4">
  		<div class="left">
				<div class="center2">
					<%= a.label :email %>
    			<%= a.email_field :email , :readonly => true %>
  			</div>
			</div>
		</div>
	</div>	
<% end %>

	<div class="row">
		<div class="span4">
			<div class="right">
				<div class="center2">
					<%= f.label :spots, 'Spots allowed' %>
    			<%= f.number_field :spots , :readonly => true %>
  			</div>
			</div>
		</div>	
		<div class="span4">
			<div class="center2">
				<%= f.label :rsvp_number, 'Rsvp number' %>
    		<%= f.number_field :rsvp_number , :readonly => true %>
			</div>
		</div>
		<div class="span4">
			<div class="left">
				<div class="center2">
					<%= f.label :gift %>
    			<%= f.text_field :gift , :readonly => true %>
  			</div>
			</div>
		</div>	
	</div>

	<div class="row">
		<div class="span4 offset4">
			<div class="center2">
				<%= f.label :email, "Invitation Email" %>
    		<%= f.email_field :email, :readonly => true %>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="span5 offset1">
			<div class="right">
				<%= f.label :login_message %>
    		<%= f.text_area :login_message, :readonly => true %>
			</div>
		</div>
		<div class="span5">
			<div class="left">
				<%= f.label :feedback %>
    		<%= f.text_area :feedback , :readonly => true %>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="span4">
			<div class="right">
				<div class="center2">
    			<span>Thank you note sent?</span>&nbsp;&nbsp;<%= f.check_box :thank_you , :readonly => true %>
  			</div>
			</div>
		</div>

		<div class="span4">
  		<div class="center2">
    			<span>Save the date sent?</span>&nbsp;&nbsp;<%= f.check_box :save_the_date_sent , :readonly => true %>
  		</div>
		</div>

		<div class="span4">
  		<div class="left">
				<div class="center2">
    			<span>Invitation sent?</span>&nbsp;&nbsp;<%= f.check_box :invitation_sent , :readonly => true %>
  			</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="span2">&nbsp;</div>
	</div>

	<div class="row">
		<div class="span8 offset2">
			<div class="center2">
				<button type="button" value=<%= @invitation.id%> id="send_save_the_date">Send "Save the Date"</button>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="span8 offset2">
			<div class="center2">
				<div id="result"></div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="span2">&nbsp;</div>
		<div class="span8">
			<div class="center2">
				<br/>
				<br/>
				<% if @invitation.admin_id == current_admin.id %>
					<%= link_to 'Edit', edit_invitation_path(@invitation) %> |
				<% end %>
				<%= link_to 'Back', invitations_path %>
			</div>
		</div>
	</div>

      </div>
<% end %>
</div>

<script type="text/javascript">
	$('#send_save_the_date').click(function() {
		 $.ajax({url: '<%= send_save_the_date_path(:id => @invitation.id.to_s) %>',
				type: "POST",
        dataType: 'html',
				success: function(data) { $('#result').html(data); } });


	});
</script>
